@mixin color($color) {
  border-color: $color;
  background-color: lighten($color, 40%);
  .p--fill,
  i {
    background-color: $color;
  }
}

@include container {
  @each $color in $pretty--colors-theme {
    &.-col-#{nth($color,1)} {
      @include color(nth($color, 2));
    }
  }
}
