@mixin color($color) {
  border-color: $color;
  background-color: lighten($color, 40%);
  .p--fill,
  i {
    background-color: $color;
  }
  .p--check,
  .p--cross {
    &:before {
      color: $color;
    }
  }
}

@each $color in $pretty--colors-theme {
  @include container($class: '.-col-#{nth($color,1)}') {
    @include color(nth($color, 2));
  }
}
