@include container {
  &.-shape-round {
    border-radius: 100%;
    .p--fill {
      border-radius: 100%;
    }
  }
  &.-shape-curve {
    border-radius: $pretty--curve-radius;
    .p--fill {
      border-radius: $pretty--curve-radius;
    }
  }
}
