@include container($class: '.-shape-round:not(.-type-switch)') {
  border-radius: 100%;
  .p--fill {
    border-radius: 100%;
  }
}
@include container($class: '.-shape-curve') {
  border-radius: $pretty--curve-radius;
  .p--fill {
    border-radius: $pretty--curve-radius;
  }
}
