body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #444;
}

a {
  text-decoration: none;
  color: #e17075;
}

pre[class*=language-] {
  border-color: #f7f5f5;
  border-radius: 2px;
  background: rgba(252, 252, 252, 0.29);
}

.example-code {
  display: none;
  margin-top: -30px;
  margin-bottom: 40px;
  border: 0;
  border-left: 2px solid #d8d8d8;
  background: #fefefe;
}

.example-code pre[class*=language-] {
  border: 0;
  background: #fefefe;
}

.example-code p.sub {
  margin-bottom: -7px;
  padding: 16px 16px 0;
}

code[class*=language-],
pre[class*=language-] {
  font-family: 'Mononoki';
  font-size: 14px;
}

code.simple {
  font-family: 'Mononoki';
  font-size: 87%;
  font-weight: 500;
  font-style: italic;
  padding: 0 4px;
  color: #000;
  border-radius: 3px;
  background: transparent;
}

strong {
  font-size: .95em;
  font-weight: 600;
  margin-right: 5px;
  text-transform: uppercase;
  color: #e17075;
}

header {
  padding: 50px 0;
  text-align: center;
  background: #fcfcfc;
}

header p {
  font-size: 17px;
  margin-bottom: 20px;
  color: #908d8d;
}

header p span > span {
  color: #444;
}

header h1 {
  margin: 0 0 20px;
  color: #e17075;
}

header .btn {
  min-width: 100px;
  padding: 9px 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  background: #e17075;
}

header .btn:hover, header .btn:focus, header .btn:active {
  color: #fff;
  outline: none;
  background-color: #d8464c;
  box-shadow: none;
}

header .btn.default {
  color: #444;
  border-color: #e8e4e4;
  background: #fff;
}

header .btn.default:hover, header .btn.default:focus, header .btn.default:active {
  color: #444;
  outline: none;
  background-color: #ededed;
  box-shadow: none;
}

.btn .mdi {
  margin-right: 4px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}

section {
  margin-bottom: 20px;
}

section h3 {
  margin: 0 0 20px;
}

section p.sub {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

section p.sub .codetoggle {
  font-family: 'Mononoki';
  font-size: 13px;
  float: right;
  text-transform: lowercase;
  opacity: .5;
}

section .btn-action {
  font-family: Mononoki;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #5a5a5a;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
}

section .btn-action:hover {
  color: #fff;
  border-color: #e17075;
  background-color: #e17075;
}

section .example {
  margin-bottom: 30px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 12px;
  border-left: 2px solid #14a2a9;
}

section .example:hover {
  border-left-color: #e17075;
}

section .example:hover p {
  color: #e17075;
}

section .example:hover .codetoggle {
  opacity: 1;
}

section .example:hover .codetoggle a {
  text-decoration: none;
}

section .example .inaction .syx-highlight {
  font-family: 'mononoki';
  font-size: 14px;
}

section .example .inaction .var {
  color: #e17075;
}

section .example .inaction .val {
  color: #152247;
}

section .example .inaction .comment {
  color: #adb0ba;
}

.code {
  margin-bottom: 20px;
}

footer {
  font-size: 15px;
  margin: 20px 0;
  text-align: center;
  color: #adadad;
}

footer .mdi {
  font-size: 12px;
  color: #e17075;
}
