.pretty.--has-hover{
    input[type='checkbox']:hover ~.state:not(.--is-hover),
    input[type='radio']:hover ~.state:not(.--is-hover){
        display: none;
    }
    input[type='checkbox']:hover ~.state.--is-hover,
    input[type='radio']:hover ~.state.--is-hover{
        display: block;
        .icon{
            display: block;
        }
    }
}