.#{$pretty--class-name}.smooth {
    i {
        &:before {
            transition:all .5s ease;
            transform:scale(0);
        }

        &:after {
           transition:all .5s ease;  
        }
    }

    & > input[type='checkbox']:checked ~ label>i,
    & > input[type='radio']:checked ~ label>i {
        &:before {
            transform:scale(1);
        }

        &:after {
            transform:scale(0);
        }
    }

    & > input[type='radio']:checked ~ label > i.default {
        &:before {
            transform:scale(.8);
        }

        &:after {
            transform:scale(1);
        }
    }
}

.#{$pretty--class-name}.smooth.toggle {
    i {
        &:before {
            transform:none;
        }
    }

    & > input[type='checkbox']:checked ~ label>i,
    & > input[type='radio']:checked ~ label>i {
        &:before {
            transform:none;
        }

        &:after {
            transform:none;
        }
    }
}
