{% set desc %}
<p>You can add any font icons to replace basic checkbox styles. There are two classes to be added. First, <strong>p-icon</strong> to <i>.pretty</i>. Then add <strong>icon</strong> class along with font icon classes inside <i>.state</i> .</p>
{{block(checkbox_font_icons,'General')}}
<p class="note">This library doesnt comes with any font icons. You need to add appropriate font icon library in your application. In above example, we have used <strong>mdi mdi-check</strong>, which is from <a href="https://materialdesignicons.com/" target="_blank">Material design icons</a> library. So, we need to add that library.</p>
{% endset %} 
{{section('Font icons',desc)}}