body {
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.29);
    color: $col--text;
    font-family: $font--family;
}

.jumbotron {
    padding: 50px 0;
    text-align: center;
    background: $col--primary;
    border-bottom: 4px solid $col--sec;
    background: linear-gradient(to left, #124665, $col--primary);
    position: relative;
    color: #fff;
    h1 {
        margin: 0 0 20px;
        color: $col--sec;
        font-weight: 300;
        font-size: 48px;
        letter-spacing: -2px;
    }
    p {
        color: rgba(255, 255, 255, 0.65);
    }
    .container {
        position: relative;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.4;
        background-image: url("data:image/svg+xml,<svg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><path d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='#9C92AC' fill-opacity='0.4' fill-rule='evenodd'/></svg>");
    }
}