// switch
.pretty.--switch.--fill {
    input[type='checkbox']:checked~.state {
        &:before {
            border-color: $dark;
            background-color: $dark;
        }
        label:before {
            opacity: 0;
        }
        label:after {
            background-color: #fff;
            left: 1em;
        }
    }
}