// switch
.pretty.--switch {
    .state {
        position: relative;
        &:before {
            content: '';
            border: 1px solid $pretty--color-default;
            border-radius: 60px;
            width: 2em;
            display: inline-block;
            box-sizing: unset;
            height: calc(#{$pretty--box-height} + 2px);
            position: absolute;
            top: 0;
            top:calc(calc(50% - calc(100% - 1em)) - 2px);
            z-index: 0;
            transition: all 0.5s ease;
        }
        label {
            text-indent: 2.5em;
            &:before,
            &:after {
                transition: all 0.5s ease;
                border-radius: 100%;
                left: 0;
                border-color: transparent;
                transform: scale(0.8);
            }
            &:after {
                background-color: $pretty--color-default;
            }
        }
    }
    input[type='checkbox']:checked+.state {
        &:before {
            border-color: #2ecc71;
        }
        label:before {
            opacity: 0;
        }
        label:after {
            background-color: #2ecc71;
            left: 1em;
        }
    }
}