// animation
.pretty.--smooth {
    input[type='checkbox']+.state,
    input[type='radio']+.state {
        .icon,
        .svg,
        img {
            display: inline-block;
            transform: scale(0);
            opacity: 0;
            transition: all 0.5s ease;
        }
        label:before {
            transition: all 0.5s ease;
        }
        label:after {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }
    input[type='checkbox']:checked+.state,
    input[type='radio']:checked+.state {
        .icon,
        .svg,
        img,
        label:after {
            transform: scale(1);
            opacity: 1;
        }
        img {
            transform: scale(0.8);
        }
        label:after {
            opacity: 1;
        }
    }
    &.--plain input[type='checkbox']:checked+.state,
    &.--plain input[type='radio']:checked+.state {
        label:before {
            content: '';
            transform: scale(0);
        }
    }
}

.pretty.--tada {
    input[type='checkbox']+.state,
    input[type='radio']+.state {
        .icon,
        .svg,
        img {
            display: inline-block;
            opacity: 0;
        }
        label:after {
            opacity: 0;
        }
    }
    input[type='checkbox']:checked+.state,
    input[type='radio']:checked+.state {
        .icon,
        .svg,
        img,
        label:after {
            animation: tada 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 alternate;
            opacity: 1;
        }
        label:after {
            opacity: 1;
        }
    }
}

.pretty.--jelly {
    input[type='checkbox']+.state,
    input[type='radio']+.state {
        .icon,
        .svg,
        img {
            display: inline-block;
            opacity: 0;
            animation-fill-mode: reverse;
        }
        label:after {
            opacity: 0;
        }
    }
    input[type='checkbox']:checked+.state,
    input[type='radio']:checked+.state {
        .icon,
        .svg,
        img,
        label:after {
            animation: jelly 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both alternate;
            opacity: 1;
        }
        label:before {
            border-color: transparent;
        }
    }
}

.pretty.--rotate {
    input[type='checkbox']~.state,
    input[type='radio']~.state {
        .icon,
        .svg,
        img {
            display: inline-block;
            opacity: 0;
            animation-fill-mode: reverse;
        }
        label:after {
            opacity: 0;
        }
    }
    input[type='checkbox']:checked~.state,
    input[type='radio']:checked~.state {
        .icon,
        .svg,
        img,
        label:after {
            animation: rotate 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both alternate;
            opacity: 1;
        }
        label:before {
            border-color: transparent;
        }
    }
}