.#{$pretty--class-name}.--bigger {
  label:before,
  label:after,
  .icon,
  .svg,
  .img {
    font-size: $pretty--2x !important;
    top: calc((0% - (100% - 1em)) - 35%) !important;
  }

  label {
    text-indent: calc((#{$pretty--2x} * 2) / 1.5);
  }
}