.pretty {
    @each $set,
    $color in $pretty--sets {
        input[type='checkbox']:checked~.state.--#{$set},
        input[type='radio']:checked~.state.--#{$set},,
        &.--has-hover input[type='checkbox']:hover~.state.--#{$set}
        &.--has-hover input[type='radio']:hover~.state.--#{$set}
         {
            .icon,
            svg.svg,
            .svg svg,
            .svg svg>* {
                color: #fff;
                stroke: #fff;
            }
            label {
                &:after {
                    background-color: $color !important;
                    color: #fff;
                }
            }
        }
        input[type='checkbox']:checked~.state.--#{$set}-o,
        input[type='radio']:checked~.state.--#{$set}-o,
        &.--has-hover input[type='radio']:hover~.state.--#{$set}-o,
        &.--has-hover input[type='checkbox']:hover~.state.--#{$set}-o {
            .icon,
            svg.svg,
            .svg svg,
            .svg svg>* {
                stroke: $color;
                color: $color;
            }
            label {
                &:before {
                    border-color: $color !important;
                }
                &:after {
                    background-color: $color !important;
                }
            }
        }
        &.--fill{
            input[type='checkbox']:checked~.state.--#{$set}-o ,
            input[type='radio']:checked~.state.--#{$set}-o {
                label {
                    &:after {
                        background-color: transparent !important;
                    }
                }
            }
        }
        &.--icon,
        &.--svg {
            input[type='checkbox']~.state.--#{$set}-o ,
            input[type='radio']~.state.--#{$set}-o { 
                label {
                    &:after {
                        background-color: transparent !important;
                    }
                }
            }
        }
        &.--toggle{
            input[type='checkbox']~.state.--off.--#{$set} ,
            input[type='radio']~.state.--off.--#{$set} {
                .icon{
                    color:#fff;
                }
                label {
                    &:after {
                        background-color: $color !important;
                        color:#fff;
                    }
                }
            }
            input[type='radio']~.state.--off.--#{$set}-o ,
            input[type='checkbox']~.state.--off.--#{$set}-o {
                .icon{
                    color:$color;
                }
                label {
                    &:before {
                        border-color: $color !important;
                    }
                    &:after {
                        background-color:$color;
                    }
                }
            }
        }
        &.--switch{
            input[type='radio']:checked~.state.--#{$set} ,
            input[type='checkbox']:checked~.state.--#{$set} {
                &:before {
                    border-color: $color;
                }
                label:after {
                    background-color: #fff !important;
                }
            }
            &.--slim,&.--fill{
                input[type='radio']:checked~.state.--#{$set} ,
                input[type='checkbox']:checked~.state.--#{$set} {
                    &:before {
                        border-color: $color;
                        background-color: $color;
                    }
                }
            }
        }
    }
}