@media print {
    .#{$pretty--class-name} {
        .state {
            &:before,
            label:before,
            label:after {
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
                color-adjust: exact;
            }
        }
    }
}