.pretty.--round {
    input[type='checkbox']~.state label ,
    input[type='radio']~.state label {
        &:before,
        &:after {
            border-radius: 100%;
        }
    }
    &.--icon .state .icon {
        border-radius: 100%;
        overflow: hidden;
        &:before {
            transform: scale(0.8);
        }
    }
}