.#{$pretty--class-name}.--bigger {
    label:before,
    label:after,
    .icon,
    .svg,
    .img {
        font-size: #{$pretty--scale-bigger} !important;
        top: calc((0% - (100% - 1em)) - 35%) !important;
    }
    label {
        text-indent: calc((#{$pretty--scale-bigger} * 2) / 1.5);
    }
}