.pretty.--toggle {
    input[type='checkbox']~.state ,
    input[type='radio']~.state {
        &.--on {
            display: none;
        }
        &.--off,
        .icon,
        .svg,
        img {
            display: inline-block;
        }
    }
    input[type='checkbox']:checked~.state ,
    input[type='radio']:checked~.state {
        &.--on {
            display: inline-block;
        }
        &.--off {
            display: none;
        }
    }
}