.#{$pretty--class-name}.--toggle {
    .state {
        &.--on {
            opacity: 0;
            display: none;
        }
        &.--off,
        .icon,
        .svg,
        img {
            opacity: 1;
            display: inline-block;
        }
        &.--off .icon {
            color: $pretty--color-default;
        }
    }
    input:checked~.state {
        &.--on {
            opacity: 1;
            display: inline-block;
        }
        &.--off {
            opacity: 0;
            display: none;
        }
    }
}