// icon
.#{$pretty--class-name}.--icon {
    .state {
        .icon {
            display: inline-block;
            position: absolute;
            font-size: 1em;
            width: $pretty--box-size;
            height: $pretty--box-size; 
            top: 0;
            left: 0;
            z-index: $pretty--z-index-between; 
            text-align: center;
            line-height: normal;
            top:$pretty-top-offset;
            border:1px solid transparent; 
            opacity: 0;
            transform: scale(1.1); 
        }
        .icon:before {
            line-height: normal;
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            line-height: 1;
        }
    }
    input:checked~.state {
        .icon {
            opacity: 1;
        }
        label:before {
            border-color: #5a656b;
        }
    }
}