{% from "./partials/common.html" import section, code,block,codeblock,contentblock %}

<div class="container">
  <div class="col-md-8 mx-auto">

	{% include "./sections/installation.html" %}
	{% include "./sections/basic_checkbox.html" %}
	{% include "./sections/switch.html" %}
	{% include "./sections/colors.html" %}
	{% include "./sections/font_icons.html" %}
	{% include "./sections/svg.html" %}
	{% include "./sections/image.html" %}
	{% include "./sections/animations.html" %}
	{% include "./sections/plain.html" %}
	{% include "./sections/toggle.html" %}
	{% include "./sections/states.html" %}
	{% include "./sections/disabled.html" %}
	{% include "./sections/lock.html" %}
	{% include "./sections/size.html" %}
	{% include "./sections/radio_buttons.html" %}
	{% include "./sections/tested_font_icons.html" %}
	{% include "./sections/tested_svg.html" %}
	{% include "./sections/scalability.html" %}
	{% include "./sections/scss_customize.html" %}
	{% include "./sections/more.html" %}

  </div> 
</div>


