<div> 

    <div class="pretty p-default">
        <input type="password" />
        <div class="state p-primary-o">
            <label></label>
        </div>
    </div>

    <div class="pretty p-icon p-round p-jelly">
        <input type="checkbox" />
        <div class="state p-success"> 
            <i class="icon mdi mdi-check"></i>
            <label></label>
        </div>
    </div>

		    <div class="pretty p-default p-curve p-thick p-smooth">
        <input type="checkbox" />
        <div class="state p-danger-o">
            <label></label>
        </div>
    </div>

		    <div class="pretty p-icon p-round p-smooth p-plain">
        <input type="checkbox" />
        <div class="state p-warning-o">
            <i class="icon mdi mdi-star"></i>
            <label> </label> 
        </div>
    </div>

		    <div class="pretty p-default p-round p-thick">
        <input type="checkbox" />
        <div class="state p-primary-o">
            <label></label>
        </div>
    </div>

		    <div class="pretty p-switch">
        <input type="checkbox" />
        <div class="state p-danger">
            <label></label>
        </div>
    </div>

		  <div class="pretty p-icon p-toggle p-plain">
        <input type="checkbox" />
        <div class="state p-warning-o p-off">
            <i class="icon mdi mdi-play"></i>
            <label>Playing...</label>
        </div>
        <div class="state p-on">
            <i class="icon mdi mdi-pause"></i>
            <label>Paused</label>
        </div>
    </div>
</div>




{% from "./partials/common.html" import section, code,block,codeblock,contentblock %}

<div class="container">
  <div class="col-md-8 mx-auto">

	{% include "./sections/installation.html" %}
	{% include "./sections/basic_checkbox.html" %}
	{% include "./sections/switch.html" %}
	{% include "./sections/colors.html" %}
	{% include "./sections/font_icons.html" %}
	{% include "./sections/svg.html" %}
	{% include "./sections/image.html" %}
	{% include "./sections/animations.html" %}
	{% include "./sections/plain.html" %}
	{% include "./sections/toggle.html" %}
	{% include "./sections/states.html" %}
	{% include "./sections/disabled.html" %}
	{% include "./sections/lock.html" %}
	{% include "./sections/size.html" %}
	{% include "./sections/radio_buttons.html" %}
	{% include "./sections/tested_font_icons.html" %}
	{% include "./sections/tested_svg.html" %}
	{% include "./sections/scalability.html" %}
	{% include "./sections/scss_customize.html" %}
	{% include "./sections/more.html" %}

  </div> 
</div>


