<div class="footer text-center">
    Made with ❤ by Lokesh
</div>
<div id="toggle-all" class="hide" data-module="toggleall">
    <div class="pretty p-svg p-toggle p-plain">
        <input type="checkbox" />
        <div class="state p-off">
            <span class="svg">
                <i data-feather="square"></i> 
            </span> 
            <label></label>
        </div>
        <div class="state p-on">
            <span class="svg">
                <i data-feather="check-square"></i>
            </span>
            <label></label> 
        </div>
    </div>
</div>