<div class="jumbotron jumbotron-fluid mb-0 text-center">
  <div class="container">
    <h1 class="brand">pretty checkbox</h1>
    <p>A pure css library to beautify checkbox and radio buttons</p>
    <div>
      <a class="github-button" href="https://github.com/lokesh-coder/pretty-checkbox" data-icon="octicon-star" data-show-count="true"
        aria-label="Star lokesh-coder/pretty-checkbox on GitHub">Star</a>

      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://lokesh-coder.github.io/pretty-checkbox/"
        data-via="lokesh-coder" data-show-count="false">Tweet</a>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light  bg-white borbot mb-3">
  <ul class="nav justify-content-center mx-auto">
    <li class="nav-item">
      <a class="nav-link active" href="#installation-section">
        <i class="mdi mdi-folder-download"></i>
        <span class="d-none d-sm-inline">Installation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#checkbox-section">
        <i class="mdi mdi-checkbox-marked"></i>
        <span class="d-none d-sm-inline">Checkboxes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#radio-section">
        <i class="mdi mdi-radiobox-marked"></i>
        <span class="d-none d-sm-inline">Radio buttons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#settings-section">
        <i class="mdi mdi-sass"></i>
        <span class="d-none d-sm-inline">Configure</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#more-section">
        <i class="mdi mdi-dots-horizontal"></i>
        <span class="d-none d-sm-inline">More</span>
      </a>
    </li>
  </ul>
</nav>