$pretty--class-name: pretty !default;
$pretty--font-family: 'Material Design Icons' !default;
$pretty--border-radius: 2px !default;
$pretty--primary-color: #428bca !default;
$pretty--success-color: #5cb85c !default;
$pretty--info-color: #5bc0de !default;
$pretty--warning-color: #f0ad4e !default;
$pretty--danger-color: #d9534f !default;
$outline-colors: (primary outline-primary $pretty--primary-color, success outline-success $pretty--success-color, info outline-info $pretty--info-color, warning outline-warning $pretty--warning-color, danger outline-danger $pretty--danger-color);
