$pretty-class-name:pretty !default;
$pretty-font-family:"Material Design Icons" !default;
$pretty-border-radius:2px !default;
$outline-colors: (
  primary outline-primary #428bca,
  success outline-success #5cb85c,
  info outline-info #5bc0de,
  warning outline-warning #f0ad4e,
  danger outline-danger #d9534f
) !default; 