$pretty--class-name: 'pretty';
$pretty--base-font-size: 16px;
$pretty--box-size: 14px;
$pretty--box-offset: 4px;
$pretty--debug: false;
$pretty--colors-basic: (
  'border': #c8cad3,
  'bg': #868896
);
$pretty--colors-theme: (
  'success': #2ecc71,
  'warning': #e67e22,
  'danger': #e74c3c,
  'dark': #34495e,
  'info': #3498db
);
$pretty--colors: (
  'basic': $pretty--colors-basic,
  'theme': $pretty--colors-theme
);

$pretty--sizes: (
  'sm': 14px,
  'md': 16px,
  'lg': 18px,
  'xl': 20px,
  'xxl': 22px
);

$pretty--curve-radius: 2px;
