$pretty--color-default:#bdc3c7 !default;
$pretty--color-error:#f95e5e !default;
$pretty--color-box-bg: $pretty--color-default !default;
$pretty--color-box-border: $pretty--color-default !default;
$pretty--radius-box: 0% !default;
$pretty--box-width:1em;
$pretty--box-height:1em;

$pretty--color-primary:#428bca !default;
$pretty--color-info:#5bc0de !default;
$pretty--color-success:#5cb85c !default;
$pretty--color-warning:#f0ad4e !default;
$pretty--color-danger:#d9534f !default;
$pretty--color-dark:#5a656b !default;

$pretty--z-index-back:0;
$pretty--z-index-between:1;
$pretty--z-index-front:2;

$pretty--label-text-offset:1.5em;
$pretty--label-text-offset-switch:2.5em;

$pretty--sets: 
        (primary, $pretty--color-primary),
        (info, $pretty--color-info),
        (success, $pretty--color-success),
        (warning, $pretty--color-warning),
        (danger, $pretty--color-danger);
