// img
.pretty.--image {
    .state {
        img {
            display: none;
            position: absolute;
            width: calc(1em + 2px);
            height: calc(1em + 2px);
            top: 0;
            top:$pretty-top-offset;
            left: 0;
            z-index: $pretty--z-index-back;
            text-align: center;
            line-height: normal;
            transform: scale(0.8);
        }
    }
    input[type='checkbox']:checked~.state img ,
    input[type='radio']:checked~.state img {
        display: inline-block;
    }
}