on: push
name: Build & Publish Docs
jobs:
    checkChangesInDocs:
        name: Check changes in docs
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - name: Check changes in stories
            uses: netlify/actions/diff-includes@master
            with:
                args: docs
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [12.x, 14.x]
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: npm install, build, and test
              run: |
                  npm i
                  npm run build

