.pretty.--default.--thick {
    input[type='checkbox']~.state label {
        &:before,
        &:after {
            border-width: 0.13em;
        }
        &:after {
            transform: scale(0.4) !important;
        }
    }
    input[type='checkbox']:checked+.state label {
        &:after {
            background-color: $pretty--color-box-bg;
        }
    }
}